<div class="flex mb-8">
        <div class="flex flex-1 flex-col">
            <span class={highlightLabelStyling}>Instructies</span>
            <div class="flex flex-1 justify-between">
                <div class="flex">
                    <span class="font-bold text-slate-500 mr-4">Bankrekeningnummer</span>
                    <span class="text-slate-500">{{ accountNumber() }}</span>
                </div>
                <div class="flex">
                    <span class="font-bold text-slate-500 mr-4">Mededeling</span>
                    <span class="text-slate-500">Factuur&nbsp;{{ invoiceNumber() }}</span>
                </div>
            </div>
        </div>
    </div>
